# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/build

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/coverage
/*.tsbuildinfo

# Production
/dist
/out
.next
/.nuxt
.build

# Dependency directories
node_modules/
jspm_packages/
bower_components/

# Testing
/coverage
/.nyc_output
/karma-coverage/
# Coverage directory used by tools like istanbul/jest
coverage/
# eslint cache
.eslintcache
# Temporary folders created by storybook
out/

# Misc
.DS_Store
Thumbs.db

# Flask
venv/
__pycache__/
*.pyc
instance/

# Python environment
*.py[cod]
*.pyo
*.pyd
.Python
env/
env.bak/
venv/
venv.bak/
bin/
lib/
include/
*.egg
*.egg-info/
.eggs/
build/
dist/

# Virtualenv
pip-log.txt
pip-delete-this-directory.txt

# TensorFlow
/trained_model.h5
/keras_metadata.pb
/checkpoints/
